body {
    background-image: url("triangulo.png");
     margin-left: 100px;
     margin-right: 100px;
    }
  
h1{
   font-family: Times, "Times New Roman", Georgia, serif;
    text-align: center;
    color: #F1A94E;
    font-size: 40px;
    text-shadow: 8px 8px 8px #6CC4DF;
    }

 h2{
     color: #348BA6;
 }
 
 ol li{
     padding:4px;
     margin-left: 20px;
 }

a:visited{
    color:#5D4C46;
}
 a:hover{
     color:#E45641;   
 }
 a:active{
    color:#44B3C2;
}


.demo1{
   
    width:33%;
    float: left;
     }
     
 .demo1 img{
     text-align: center;
     margin: 50px;
     border-top-left-radius: 20%;
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
     width: 330px;
     height: 230px;

 }
 
  
.isla{
    
    width:33%;
    float: left;
     }
 .isla img{
     
     margin: 50px;
     border-top-left-radius: 20%;
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
      width: 330px;
     height: 230px;
 }
 .leon{
    
    width:33%;
    float: left;
     }
 .leon img{
     margin: 50px;
     border-top-left-radius: 20%;
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
      width: 330px;
     height: 230px;
 }

 .perfil{
     float: right;
     
 }
  .perfil img{
     margin: 10px;
     width: 150px;
     height: 150px;
     border-top-left-radius: 20%;
     border-top-right-radius: 20%;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
       }
