body {
     background-image: url("triangulo.png");
     margin: 100px;
   }

h1{
    margin-top: 50px;
    font-family: Times, "Times New Roman", Georgia, serif;
    color:#44B3C2;
    text-align: center;
    font-size:40px;
   } 
   
   h1 span{
       border-top: solid 2px #F1A94E;
       border-bottom: solid 2px #F1A94E;
   }
   
 h2{
     margin-top: 40px;
     color: darkslategray;
 }
 
 a:hover{
     color:#E45641;   
 }
 a:active{
    color:#44B3C2;
}

.demo1{
     width:250px;
     margin-left: 25px;
     margin-bottom: 15px;
     vertical-align: middle;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
     float: right;
    }

.demo2{
     width:350px;
     margin-right:  25px;
     margin-bottom: 15px;
     vertical-align: middle;
     border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
     float: left;
     
    }
    
.demo3{
     width:250px;
     margin-left: 25px;
     margin-bottom: 15px;
     vertical-align: middle;
     border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
     float: right;
         }
         
.demo4{
    width:250px;
    margin-right:  25px;
    vertical-align: middle;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
     float: left;
         }
.demo5{
    width:350px;
    margin-left:  25px;
    vertical-align: middle;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
     float: right;
         }


p{  
    font-family: Courier New, Courier, monospace;
    color: #633928;
    text-align: justify;
    text-indent: 40px;
    font-size: 25px;
    
}

.menu{
  background-image: url("triangulo.png");  
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.menu ul li {
  padding: 15px;
  border-top-left-radius: 50%;
  border-top-right-radius:50% ;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius:50% ;
  display: inline-block;
  background-color: #F0C793;
}

